* {
  margin: 0;
  padding: 0;
}

* :focus {
  outline: none;
}

.heading {
  background-color: rgb(47, 54, 59);
  color: azure;
  font-family: monospace;
  margin: 0 2vw;
  padding: 1vh 1vw;
  font-size: 50px;
}

.mail {
  height: 65vh;
  margin: 2vh 2vw;
  padding: 3vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mail > textarea {
  flex: 0.65;
  width: 90%;
  padding: 1vh 1vw;
  font-family: monospace;
  border-radius: 20px;
  font-size: 32px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mail > textarea::-webkit-scrollbar {
  display: none;
}

.mail > select {
  flex: 0.1;
  width: 60%;
  padding: 0 1vw;
  font-family: monospace;
  font-size: 32px;
  border-radius: 20px;
}

.mail > button {
  flex: 0.1;
  width: 30%;
  font-family: monospace;
  background-color: rgb(47, 54, 59);
  font-size: 32px;
  color: azure;
  border-radius: 20px;
}

.hamspam {
  font-family: monospace;
  height: 13vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 2vw;
  text-align: center;
  font-size: 32px;
}

.ta {
  flex: 0.45;
  font-size: 32px;
}

.ham {
  flex: 0.45;
  color: azure;
  width: 50%;
  background-color: rgb(19, 218, 78);
  padding: 1vh 1vw;
  border-radius: 20px;
}

.spam {
  flex: 0.4;
  color: azure;
  width: 50%;
  background-color: rgb(218, 26, 19);
  padding: 1vh 1vw;
  border-radius: 20px;
}
